/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/3d-css-scene/dist/app.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

h1, h2 {
  font-weight: 200;
}

h2 {
  font-size: 0.725em;
}

header.container  {
  background: rgba(6, 6, 6, 0.8);
  margin: 10px 0; 
}

/* rewrite input rules*/

.section-container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: dotted rgba(0, 255, 0, 0.1) 1px;
  border-radius: 0; 
  box-shadow: none;
  box-sizing: inherit;
  height: 1.625em;
  padding: 12px;
  color: orangered;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
   width: 80%;
}
label {
  display: inline;
  
}

p, label, .section-container .invalid-feedback {
  font-size: 0.525em;
  color: orangered;
}


button {
  border-radius: 0;
  background-color: transparent;
  border: dotted rgba(0, 255, 0, 0.1) 1px;
  display: block;
  margin: 20px auto;
  color: orangered;
  text-transform:lowercase;
}

button:hover {
  background-color: #4e2a8e;
}
/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* columns containers*/
.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
}


/* Overlay */
.overlay {
  padding: 5px;
  margin: 12px;
  position: fixed;
  top: 10%;
  right: 2%;
  width: 380px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: block;
  overflow: auto;
  outline: solid rgba(0, 255, 0, 0.1) 1px;
  color: orangered; }

.overlay ul {
  padding: 18px;
  border: dotted #4e2a8e  1px;
  margin: 20px
}

.overlay ul li {
  display: inline-block; }

.overlay li img {
  width: 30px;
  height: 30px;
  margin: 2px; }

.overlay p {
  margin-left: 10px;
}

/*overlay in small devices*/
/*overlay in small devices*/
/* Blinking pipes xD <3 <3*/
.blink {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px; }

span.blink {
  font-size: 25px;
  font-weight: 500;
  color: #4e2a8e;
  animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 2; } }


.toggle-pipe {
  width: initial;
  height: initial;
  transform: rotate(-90deg);
  display: inline-block;
  cursor:  pointer;
}

.toggle-pipe.down {
  transform: rotate(90deg);
}

.hide {
  display: none; 
}

.like-atom {
  color: orangered;
  text-align: left;
  
}

.like-atom::before {
  content: ":";
}

.like-list, .like-list ul li a {
  color: #4e2a8e;
  text-decoration:none;
  font-size: 0.625em;
}

.like-list::before {
  content: "[";
  color: #4e2a8e;
  font-weight: 500;
}

.like-list::after {
  content: "]";
  color: #4e2a8e;
  font-weight: 500;
}

.like-list a:link {
  color: #4e2a8e;
  font-size: 1em;
  margin-left: 20px;
}

.like-list li::after {
  content: ",";
  
  font-weight: 500;
}


.like-struct {
  color: #4e2a8e;
}

.like-struct::before {
  content: "%";
  letter-spacing: 2px;
  font-weight: 500;
}

.like-struct::after {
  content:"{}";
  letter-spacing: 5px;
  font-weight: 500;
}

.section-container {
  padding: 25px;
  margin: 12px auto;
  width: 45%;
  clear:left;
  border: dotted rgba(0, 255, 0, 0.1) 1px;
}

.section-container:nth-child(2) {
  border-left: none;
}